body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f8fafc;
  color: #1e293b;
}

/* GRID */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* CARD */
.card {
  background: white;
  border-radius: 16px;
  padding: 15px;
  width: 200px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 5px;
}

.price {
  color: #16a34a;
  font-weight: bold;
  font-size: 18px;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #1d4ed8;
}
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}